.descargablesLista {
  background-color: $verde-azul;

  .buttonBackIcon {
    &_content {
      background-color: $verde-azul;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      z-index: 5;
      position: fixed;
      right: 0%;
      bottom: 0%;
      margin: 20px;
      border: 2px white solid;
      transition: scale, 0.4s ease;
      @media (min-width: 999px) {
        right: 5%;
        bottom: 4%;
        width: 90px;
        height: 90px;
      }
      .imgButton {
        position: absolute;
        padding: 20px;
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        margin: 0 auto;
        opacity: 1;
      }

      .textButton {
        opacity: 0;
        position: absolute;
        text-align: center;
        font-size: 13px;
        margin: 0 auto;
        font-family: Arco;
        font-weight: 100;
        color: white;
        bottom: 0;
        right: 0;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        word-wrap: break-word;
        width: 90%;
      }
    }

    @media (hover: hover) {
      &_content:hover {
        background-color: $azul;
        transform: scale(1.15);
        transition: scale, 0.4s ease;
        cursor: pointer;
      }
      &_content:hover .imgButton {
        opacity: 0;
      }

      &_content:hover .textButton {
        opacity: 1;
      }
    }
  }

  .arrow {
    position: fixed;
    top: 0;
    margin-top: 70px;
    margin-left: 20px;
    z-index: 2;
    transition: scale, 0.4s ease;
  }

  .arrow:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: scale, 0.4s ease;
  }

  .arrow img {
    width: 45px;
  }

  @media (min-width: 800px) {
    .arrow {
      top: 20px;
      margin-left: 0px;
    }
    .arrow img {
      width: 75px;
    }
  }
  &_container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;

    &_title h1 {
      color: white;
      font-family: Arco;
      font-weight: 100;
      font-size: 35px;
      margin-bottom: 40px;
      text-align: center;
      margin-top: 80px;
    }

    .description {
      color: white;
      font-family: Conforta;
      font-weight: 100;
      font-size: 15px;
      margin-bottom: 80px;
    }

    @media (min-width: 900px) {
      &_title h1 {
        text-align: center;
        font-size: 60px;
        margin-top: 140px;
      }

      .description {
        text-align: center;
        font-size: 30px;
      }
    }

    @media (min-width: 600px) {
      &_title {
        text-align: center;
      }
    }

    &_buttonFichas {
      text-align: center;
      margin-bottom: 100px;
      position: relative;
      z-index: 2;
      margin-top: 100px;
      &_anim {
        margin: 0 auto;
        transition: scale, 0.4s ease;
      }

      &_anim button {
        background-color: $rojo;
        color: white;
        border-radius: 40px;
        border: 3px white solid;
        position: relative;
        font-family: Arco;
        font-weight: 100;
        font-size: 25px;
        padding: 10px 30px 15px 30px;
      }

      @media (min-width: 900px) {
        &_anim button {
          font-size: 40px;
        }
      }

      &_anim button::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: $naranja;
        border-radius: 40px;
        border: 2px white solid;
        position: absolute;
        z-index: -1;
        top: 8px;
        left: 5px;
      }

      &_anim button::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: $azul;
        border-radius: 40px;
        border: 2px white solid;
        position: absolute;
        z-index: -1;
        top: 8px;
        left: 5px;
      }

      @media (hover: hover) {
        &_anim:hover {
          transform: scale(1.15);
          transition: scale, 0.4s ease;
        }

        &_anim:hover button {
          cursor: pointer;
        }

        &_anim button:hover::before {
          opacity: 1;
          top: 17px;
          left: 10px;
          transition: opacity, top, left, 0.4s ease;
        }
      }
    }

    &_info {
      margin-top: 120px;
      margin-bottom: 40px;
      .listDownload h1 {
        color: white;
        padding: 10px;
        margin-top: 10px;
        font-family: Conforta;
        font-weight: 100;
      }

      @media (hover: hover) {
        .listDownload h1:hover {
          font-family: Arco;
        }
      }
    }

    @media (min-width: 600px) {
      &_info {
        display: flex;
        flex-wrap: wrap;

        .listDownload:nth-child(2n + 1) {
          flex-basis: 50%;
          padding-left: 100px;
        }

        .listDownload:nth-child(2n + 2) {
          flex-basis: 50%;
          padding-left: 100px;
        }
      }
    }
  }
}
