&_header {
  background-color: $azul;

  &_container {
    padding: 20px;
    .title h3 {
      color: white;
      padding-right: 40px;
      font-family: Conforta;
      font-weight: 100;
      font-size: 12;
    }

    @media (max-width: 750px) {
      .title h3 {
        padding-top: 90px;
      }
    }

    .title h2 {
      color: white;
      margin-top: 10px;
      font-family: Arco;
      font-weight: 100;
      font-size: 25px;
    }

    @media (min-width: 1000px) {
      .title h2 {
        font-size: 35px;
      }

      .title h3 {
        font-size: 22px;
      }
    }

    @media (min-width: 750px) {
      &_one {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 150px;
      }
    }

    .contenTexts:hover {
      transform: scale(1.15);
      transition: scale, 0.4s ease;
    }
    .contenTexts {
      position: relative;
      z-index: 2;
      transition: scale, 0.4s ease;
      .anim {
        margin-bottom: 100px;
        transition: width, height, 0.4s 0s ease;
        position: relative;
      }

      .contenTextTwo {
        background-image: url("assets/texturas/1.png");
        background-size: 100%;
        margin: 100px 10px 80px 0px;
        background-color: #8c5df9;
        border-radius: 50px;
        border: 2px white solid;
        position: relative;
        width: 320px;
        height: 188px;

        .welcomeTextTwo h5 {
          color: white;
          margin: 50px 20px;
          word-wrap: break-word;
          font-family: Arco;
          font-weight: 100;
          transition: font 0.4s ease;
          font-size: 15px;
        }

        .welcomeTextTwo img {
          position: absolute;
          width: 190px;
          top: -70px;
          left: 0px;
        }

        @media (min-width: 1000px) {
          .welcomeTextTwo h5 {
            margin: 80px 20px;
            font-size: 25px;
          }

          .welcomeTextTwo img {
            width: 300px;
            top: -110px;
            left: -20px;
          }
        }
      }
      @media (min-width: 1000px) {
        .contenTextTwo {
          width: 500px;
          height: 296px;
        }
      }

      .contenTextTwo::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        border: 2px white solid;
        background-color: $rojo;
        position: absolute;
        top: 10px;
        right: -10px;
        z-index: -1;
      }

      .contenTextTwo::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        border: 2px white solid;
        background-color: $naranja;
        position: absolute;
        top: 10px;
        right: -10px;
        z-index: -1;
        opacity: 0;
        transition: opacity, top, right, 0.4s 0s ease;
      }

      @media (hover: hover) {
        .contenTextTwo:hover::before {
          top: 20px;
          right: -20px;
          opacity: 1;
          transition: opacity, top, right, 0.4s 0s ease;
        }
      }
    }
  }

  @media (max-width: 380px) {
    &_container {
      .contenTexts {
        .contenTextTwo {
          width: 340px;
        }
      }
    }
  }
}
