&_songs {
  background-color: $naranja;

  &_container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    @import "/src/styles/components/StylesSwipper/swipperCanciones";
    @media (min-width: 600px) {
      &_destok {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 150px;
        margin-top: 100px;
        &_two {
          width: 50%;
        }

        &_one {
          width: 50%;
          .contetButtonPlaylistDestok {
            text-align: center;
          }

          .contetButtonPlaylistDestok button {
            background-color: $rojo;
            color: white;
            padding: 10px 20px 15px 20px;
            border: none;
            border-radius: 40px;
            border: 3px white solid;
            font-size: 40px;
            margin-top: 40px;
            font-family: Arco;
            font-weight: 100;
            transition: scale, 0.4s ease;
          }
          @media (hover: hover) {
            .contetButtonPlaylistDestok button:hover {
              background-color: $azul;
              transform: scale(1.15);
              transition: scale, 0.4s ease;
              cursor: pointer;
            }
          }
        }
      }
    }

    & h1 {
      text-align: center;
      color: white;
      font-family: Arco;
      font-weight: 100;
      font-size: 35px;
    }

    @media (min-width: 900px) {
      & h1 {
        font-size: 60px;
      }
    }

    @media (min-width: 600px) {
      & h1 {
        font-size: 40px;
      }
    }

    .contetButtonPlaylist {
      text-align: center;
      margin-bottom: 50px;
    }

    .contetButtonPlaylist button {
      background-color: $morado;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 40px;
      border: 2px white solid;
      font-size: 25px;
      margin-bottom: 150px;
      font-family: Arco;
      font-weight: 100;
    }

    .containerCard:nth-child(3n + 1) {
      .card::after {
        background-color: $verde;
        top: 10px;
        right: 10px;
      }

      .card::before {
        background-color: $azul;
        top: 10px;
        right: 10px;
        opacity: 0;
        transition: opacity, top, right, 0.4s 0s ease;
      }

      @media (hover: hover) {
        .card:hover:before {
          top: 20px;
          right: 20px;
          opacity: 1;
          transition: opacity, top, right, 0.4s 0s ease;
        }
      }

      .card {
        background-color: $rojo;
      }
    }

    .containerCard:nth-child(3n + 2) {
      .card::after {
        background-color: $azul;
        top: 10px;
        left: 10px;
      }

      .card::before {
        background-color: $rojo;
        top: 10px;
        left: 10px;
        opacity: 0;
        transition: opacity, top, left, 0.4s 0s ease;
      }

      @media (hover: hover) {
        .card:hover:before {
          top: 20px;
          left: 20px;
          opacity: 1;
          transition: opacity, top, left, 0.4s 0s ease;
        }
      }

      .card {
        background-color: $verde;
      }
    }

    .containerCard:nth-child(3n + 3) {
      .card::after {
        background-color: $rojo;
        top: 10px;
        left: 10px;
      }
      .card::before {
        background-color: $verde;
        top: 10px;
        left: 10px;
        opacity: 0;
        transition: opacity, top, left, 0.4s 0s ease;
      }

      @media (hover: hover) {
        .card:hover:before {
          top: 20px;
          left: 20px;
          opacity: 1;
          transition: opacity, top, left, 0.4s 0s ease;
        }
      }

      .card {
        background-color: $azul;
      }
    }

    @media (hover: hover) {
      .contentCard:hover {
        transform: scale(1.15);
        transition: scale, 0.4s ease;
      }
    }
    .contentCard {
      position: relative;
      margin-top: 60px;
      margin-bottom: 50px;
      transition: scale, 0.4s ease;
      .card::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        border: 2px white solid;
        position: absolute;
        z-index: -1;
      }

      .card::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        border: 2px white solid;
        position: absolute;
        z-index: -1;
      }

      .card {
        border-radius: 50px;
        border: 2px white solid;
        height: 420px;
        width: 310px;

        position: relative;
        margin: 0 auto;
        transition: width, height, 0.4s 0s ease;
        .contentIcons {
          display: flex;
          justify-content: end;
          align-items: center;
          margin: 0px 10px 0px 0px;
        }

        .yotube {
          background-image: url("assets/Botones/youtube.png");
          background-size: cover;
          width: 50px;
          height: 50px;
          margin: 5px;
          transition: scale, 0.4s ease;
        }

        .spo {
          background-image: url("assets/Botones/spotify.png");
          background-size: cover;
          width: 50px;
          height: 50px;
          margin: 5px;
          transition: scale, 0.4s ease;
        }

        @media (hover: hover) {
          .yotube:hover {
            cursor: pointer;
            background-image: url("assets/Botones/youtube_hover.png");
            transform: scale(1.15);
            transition: scale, 0.4s ease;
          }

          .spo:hover {
            cursor: pointer;
            background-image: url("assets/Botones/spotify_hover.png");
            transform: scale(1.15);
            transition: scale, 0.4s ease;
          }
        }
        .contentImg {
          text-align: center;
          padding: 20px 20px 10px 20px;
        }

  
        .iframe {
          width: 100%;
        
          object-fit: cover;
          border: 2px white solid;
          border-top-right-radius: 40px;
          border-bottom-right-radius: 40px;
          border-top-left-radius: 40px;
        }

        .text1 {
          text-align: center;
          color: white;
          font-family: Arco;
          font-weight: 100;
          overflow: auto;
          max-height: 60px;
        }

        .text2 {
          color: white;
          word-wrap: break-word;
          padding: 10px 20px;
          font-family: Conforta;
          font-weight: 100;
          overflow: auto;
          height: 110px;
        }
      }
    }
  }
}
