&_downloads {
  background-color: $rojo;

  &_container {
    padding: 20px;
    position: relative;
    z-index: 2;
    @import "/src/styles/components/StylesSwipper/swipper";

    .anim2 {
      max-width: 320px;
      height: 188px;
      right: 0;
      left: 0;
      margin: 0 auto;
      transition: scale, 0.4s ease;
      position: absolute;
      .textReferenceOne {
        height: 100%;
        width: 100%;
        background-image: url("assets/texturas/2.png");
        background-size: 100%;
        background-color: $rojo;
        border-radius: 50px;
        border: 2px white solid;
        top: -120px;
        position: relative;
        margin: 0 auto;
        font-family: Arco;
        font-weight: 100;
        font-size: 15px;
      }

      @media (min-width: 900px) {
        .textReferenceOne {
          font-size: 25px;
          top: -170px;
        }

        .textReferenceOne p {
          padding: 80px 100px 70px 50px;
        }
      }
    }
    @media (min-width: 900px) {
      .anim2 {
        max-width: 505px;
        height: 296px;
      }
    }

    @media (hover: hover) {
      .anim2:hover {
        transform: scale(1.15);
        transition: scale, 0.4s ease;
      }
    }

    .textReferenceOne::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: $morado;
      position: absolute;
      top: -10px;
      right: 10px;
      border-radius: 50px;
      border: 2px white solid;
      z-index: -1;
    }

    .textReferenceOne::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: $verde-azul;
      position: absolute;
      top: -10px;
      right: 10px;
      border-radius: 50px;
      border: 2px white solid;
      z-index: -1;
      opacity: 0;
      transition: opacity, top, right, 0.4s 0s ease;
    }

    @media (hover: hover) {
      .textReferenceOne:hover::before {
        top: -20px;
        right: 20px;
        opacity: 1;
        transition: opacity, top, right, 0.4s 0s ease;
      }
    }

    .textReferenceOne p {
      padding: 40px 80px 40px 20px;
      color: white;
    }

    .textReferenceOne img {
      width: 120px;
      position: absolute;
      top: -25px;
      right: 0px;
    }

    @media (min-width: 900px) {
      .textReferenceOne img {
        width: 180px;
        right: -10px;
      }
    }

    .title {
      text-align: center;
      color: white;
      font-family: Arco;
      font-weight: 100;
      font-size: 35px;
      margin-top: 150px;
      margin-bottom: 30px;
    }

    @media (min-width: 900px) {
      .title {
        font-size: 60px;
        margin-top: 280px;
      }
    }

    .card:nth-child(3n + 1) {
      .cardfront::after {
        background-color: $naranja;
        top: 10px;
        right: 10px;
      }

      .cardfront::before {
        background-color: $morado;
        top: 10px;
        right: 10px;
        opacity: 0;
      }

      @media (hover: hover) {
        .cardfront:hover::before {
          top: 20px;
          right: 20px;
          opacity: 1;
          transition: opacity, top, right, 0.4s 0s ease;
        }
      }

      .cardfront {
        background-image: url("assets/texturas/4.png");
        background-size: cover;
        background-color: $verde-azul;
      }
    }

    .card:nth-child(3n + 2) {
      .cardfront::after {
        background-color: $verde-azul;
        top: 10px;
        left: 10px;
      }

      .cardfront::before {
        background-color: $naranja;
        top: 10px;
        left: 10px;
        opacity: 0;
      }

      @media (hover: hover) {
        .cardfront:hover::before {
          top: 20px;
          left: 20px;
          opacity: 1;
          transition: opacity, top, left, 0.4s 0s ease;
        }
      }
      .cardfront {
        background-image: url("assets/texturas/1.png");
        background-size: cover;
        background-color: $morado;
      }
    }

    .card:nth-child(3n + 3) {
      .cardfront::after {
        background-color: $verde-azul;
        top: 10px;
        right: 10px;
      }

      .cardfront::before {
        background-color: $morado;
        top: 10px;
        right: 10px;
        opacity: 0;
      }

      @media (hover: hover) {
        .cardfront:hover::before {
          top: 20px;
          right: 20px;
          opacity: 1;
          transition: opacity, top, right, 0.4s 0s ease;
        }
      }
      .cardfront {
        background-color: $naranja;
        background-image: url("assets/texturas/3.png");
        background-size: cover;
      }
    }

    .card {
      margin-top: 50px;
      margin-bottom: 250px;
      padding-top: 20px;
      @media (hover: hover) {
        &_container:hover {
          transform: scale(1.15);
          transition: scale, 0.4s ease;
        }
      }

      &_container {
        margin-top: 30px;
        z-index: 2;
        height: 420px;
        width: 310px;

        transition: scale, 0.4s ease;

        .cardfront::after {
          content: "";
          display: block;
          width: 100%;
          border-radius: 50px;
          border: 3px white solid;
          height: 100%;
          position: absolute;
          z-index: -1;
        }

        .cardfront::before {
          content: "";
          display: block;
          width: 100%;
          border-radius: 50px;
          border: 3px white solid;
          height: 100%;
          position: absolute;
          z-index: -1;
        }

        .cardfront {
          margin: 0 auto;
          border-radius: 50px;
          border: 3px white solid;
          height: 420px;
          width: 310px;
          position: relative;
          transition: width, height, 0.4s 0s ease;

          .contentIcons {
            text-align: end;
            margin: 10px;
          }

          .contentIcons img {
            width: 50px;
            margin: 0px 10px;
          }
          .contentImg {
            text-align: center;
            padding: 20px 20px 5px 20px;
          }
          .contentImg img {
            width: 100%;
            height: 170px;
            object-fit: cover;
            border: 3px white solid;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            border-top-left-radius: 40px;
          }

          .text1 {
            color: white;
            padding: 0px 30px;
            font-size: 20px;
            font-family: Arco;
            font-weight: 100;
            overflow: auto;
            height: 50px;
            width: 90%;
          }

          .text2 {
            color: white;
            word-wrap: break-word;
            font-family: Conforta;
            font-weight: 100;
            padding: 0px 10px;
            overflow: auto;
            height: 100px;
          }
        }

        @media (min-width: 1000px) {
          .cardfront {
            width: 420px;
            height: 500px;

            .contentImg img {
              width: 100%;
              height: 210px;
              object-fit: cover;
              border: 2px white solid;
              border-top-right-radius: 40px;
              border-bottom-right-radius: 40px;
              border-top-left-radius: 40px;
            }
            .text1 {
              font-size: 22px;
              height: 70px;
            }

            .text2 {
              font-size: 20px;
              height: 140px;
            }
          }
        }
      }

      @media (max-width: 750px) {
        &_container {
          margin: 0 auto;
        }
      }
    }

    .buttonDescargas {
      text-align: center;
      margin-top: 50px;
    }

    .buttonDescargas button {
      color: white;
      background-color: $morado;
      border: 2px white solid;
      border-radius: 40px;
      padding: 10px 40px 15px 40px;
      font-size: 25px;
      font-family: Arco;
      font-weight: 100;
      z-index: 2;
      position: relative;
      transition: scale, 0.4s ease;
    }

    @media (hover: hover) {
      .buttonDescargas button:hover {
        background-color: $naranja;
        cursor: pointer;
        transform: scale(1.15);
        transition: scale, 0.4s ease;
      }

      .buttonVerTodo button:hover {
        transform: scale(1.15);
        transition: scale, 0.4s ease;
        cursor: pointer;
        color: $naranja;
      }
    }

    .buttonVerTodo {
      text-align: center;
    }

    .buttonVerTodo button {
      background: unset;
      color: $morado;
      -webkit-text-stroke: 1px white;
      border: none;
      font-size: 25px;
      margin-top: 20px;
      font-family: Arco;
      font-weight: 100;
      margin-bottom: 100px;
      position: relative;
      z-index: 2;
      transition: scale, 0.4s ease;
    }

    @media (min-width: 750px) {
      .card {
        .cardfront {
          margin-left: 120px;
        }
      }

      &_destok {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;

        .destok_two {
          position: absolute;
          top: 150px;
          left: 450px;
        }
      }
    }

    @media (min-width: 850px) {
      &_destok {
        .destok_two {
          position: absolute;
          top: 140px;
          left: 500px;
        }
      }
    }

    @media (min-width: 1000px) {
      .card {
        .buttonDescargas button {
          font-size: 40px;
          padding: 10px 40px 15px 40px;
        }

        .buttonVerTodo {
          font-size: 40px;
        }
      }

      &_destok {
        .destok_two {
          position: absolute;
          top: 140px;
          left: 650px;
        }
      }
    }
  }
}
