.arrow {
  position: fixed;
  top: 20;
  margin-top: 60px;
  margin-left: 20px;
  z-index: 20;
  transition: scale, 0.4s ease;
}

.arrow:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition: scale, 0.4s ease;
}

.arrow img {
  width: 40px;
}

@media (min-width: 800px) {
  .arrow {
    top: 70px;
  }
  .arrow img {
    width: 75px;
  }
}

@media (min-width: 1250px) {
  .arrow {
    margin-left: 3%;
  }
}

@media (min-width: 1300px) {
  .arrow {
    margin-left: 0;
  }
}
