* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@import "./base.scss";

$morado: #8554fa;
$naranja: #fa8825;
$verde-azul: #01b4bb;

//Tarjetas
$rojo: #fa5456;
$azul: #0184bb;
$verde: #01bb77;
$amarillo: #f5d51e;
// $otro: #2cc821;

$ancho-boton: 200px;

.container_all {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.title {
  text-align: center;
  font-family: Arco;
  color: white;

  font-weight: 100;

  @media (min-width: 900px) {
    font-size: 55px;
  }
}

.button_one {
  text-align: center;
  button,
  a {
    font-size: 20px;
    padding: 10px 50px 15px 50px;
    font-family: Arco;
    color: white;
    background-color: #fa5456;
    border-radius: 30px;
    border: 2px white solid;
    text-decoration: none;
    @media (min-width: 900px) {
      font-size: 35px;
      padding: 10px 70px 15px 70px;
    }
  }

  @media (hover: hover) {
    button:hover {
      background-color: #fa8825;
      cursor: pointer;
    }

    a:hover {
      background-color: #fa8825;
      cursor: pointer;
    }
  }
}

.mb {
  padding-bottom: 170px;

  @media (min-width: 750px) {
    padding-bottom: 0px;
  }
}

.button_two {
  text-align: center;
  button {
    font-size: 20px;
    font-family: Arco;
    color: #fa5456;
    background-color: transparent;
    border: none;
    -webkit-text-stroke: 1px white;
    transition: all 0.5s;
    @media (min-width: 900px) {
      font-size: 35px;
    }
  }
  @media (hover: hover) {
    button:hover {
      color: #fa8825;
      transform: scale(1.2);
      transition: all 0.5s;
      cursor: pointer;
    }

    a:hover {
      color: #fa8825;
      transform: scale(1.2);
      transition: all 0.5s;
      cursor: pointer;
    }
  }
}

@font-face {
  font-family: "Arco";
  src: url("/assets/Fuentes/arco/ARCO.ttf") format("truetype"),
    url("/assets/Fuentes/arco/ARCO.eot") format("eot"),
    url("/assets/Fuentes/arco/ARCO.woff") format("woff"),
    url("/assets/Fuentes/arco/ARCO.woff2") format("woff2");
}

@font-face {
  font-family: "Conforta";
  src: url("/assets/Fuentes/Comfortaa/static/Comfortaa-Regular.ttf") format("truetype"),
    url("/assets/Fuentes/Comfortaa/static/Comfortaa-Regular.eot") format("eot"),
    url("/assets/Fuentes/Comfortaa/static/Comfortaa-Regular.woff") format("woff"),
    url("/assets/Fuentes/Comfortaa/static/Comfortaa-Regular.woff2") format("woff2");
}

.noScroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 100px;
  height: 100px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 52px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 43px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.logo {
  position: absolute;
  max-width: 1200px;
  width: 90%;
  right: 0;
  left: 0;
  margin: 0 auto;
  .img_logo {
    width: 80%;
    position: absolute;
    z-index: 2;
    right: 0;
    padding-top: 20px;
  }

  @media (hover: hover) {
    .img_logo:hover {
      cursor: pointer;
    }
  }

  @media (min-width: 600px) {
    .img_logo {
      width: 40%;
    }
  }
}

@import "./components//Home/home";
@import "./components//Menu/MenuMobile.scss";
@import "./components//NuestrasCanciones/nuestrasCanciones";
@import "./components/NuestrasCanciones/nuestrasCancionesLista";
@import "./components/Footer/footer";
@import "./components/Descargables/descargables";
@import "./components/Descargables/descargablesLista";
@import "./components/Loader/loader";
